# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Avoid checking in secrets
.env
.env.local
.env.*.local

# IDEs
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.factorypath
bin/
dependency-analysis.json

# Logs
logs/
*.log

# System Files
.DS_Store
Thumbs.db
